.box{
    width: 4000px;
    height: 300px;
    color: #fff;
    font-size: 50px;
    background-image: url('./shining-circle-purple-lighting-isolated-dark-background_1441-2396.jpg');
    background-position: center;
}