$body-color: #f0f;

.box {
  width: 600px;
  height: 300px;
  color: $body-color;
  font-size: 50px;
  background-image: url('./shining-circle-purple-lighting-isolated-dark-background_1441-2396.jpg');
  background-position: center;
}